:root {
    --primary-text-dark_color: #141619;
    --primary-text-light_color: rgba(243, 245, 246, 0.94);
    --secondary-text-dark_color: rgba(20, 22, 25, 0.72);
    --secondary-text-light_color: rgba(243, 245, 246, 0.72);
    --shade-dark-80_color: rgba(20, 22, 25, 0.8);
    --shade-dark-8_color: rgba(20, 22, 25, 0.08);
    --foreground-layer-neutral_color: #666A73;
    --foreground-layer-light_color: #F5F6FF;
    --container-layer-ash: #E6EBF3;
    --accent-red_color: #EA4848;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Cairo', sans-serif;
    color: var(--primary-text-dark_color);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

h2 { /*Section sub header*/
    font-size: 1.9rem;
    font-weight: 600;
    line-height: 2.4rem;
}

h3 { /*header*/
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.9rem;
}

h4 { /*Card header*/
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.5rem;
}

p { /*Card p*/
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.1rem;
}

/*Start - userlist-topbar*/
.userlist-topbar {
    max-width: 50.1rem;
    background-color: var(--foreground-layer-light_color);
    border-radius: 6px;
    box-shadow: 0px 6px rgba(0, 0, 0, 0.05);
    padding: 1rem;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1rem;
    letter-spacing: 7%;
    text-transform: uppercase;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    gap: 1.1rem;
    list-style-type: none;
}

.nav-links li {
    padding-right: 1rem;
    border-right: 1px solid var(--shade-dark-8_color);
}

.nav-links li:last-child {
    border: none;
}

.nav-links--active {
    font-weight: 800;
}
/*END - userlist-topbar*/

/*Start - lesson-header*/

.lesson-header {
    max-width: 48rem;
    background-color: var(--container-layer-ash);
    border-radius: 6px;
    padding: 1rem 1rem 2rem 1rem;
    display: flex;
    gap: 3.9rem;
}

.lesson-header__module h2 {
    border-bottom: 2px solid var(--primary-text-dark_color);
    width: 2rem;
    margin-bottom: 0.5rem;
}

.lesson-header__overview__items {
    list-style-type: none;
    padding-left: 0; /*no indent*/
    line-height: 1.6rem;
    margin-top: 1rem; /*distance to header*/
    display: flex;
    flex-direction: column;
    gap: 1rem; /*distance between list items*/
}

.lesson-header__overview__items span {
    background-color: var(--primary-text-light_color);
    padding: 0 0.5rem; /*more background*/
    margin-right: 1rem; /*distance to text*/
}
/*END - lesson-header*/

/*START - self-assessment*/
.self-assessment {
    max-width: 32.8rem; /*Kan man göra på annat sätt?*/
    display: flex;
    border: 1px solid var(--shade-dark-80_color);
    border-radius: 4px;
}

.self-assessment p {
    width: 8.2rem; /*kan man göra på annat sätt?*/
    height: 2.125rem;
    border-right: 1px solid var(--shade-dark-80_color);
    padding: 0.5rem;
    text-align: center; 
}

.self-assessment p:nth-child(4) {
    border: none;
}

.self-assessment--active{
    background-color: var(--shade-dark-80_color);
    color: var(--primary-text-light_color);
}
/*END - self-assessment*/
.link {
    width: 33rem; /*kan man göra på annat sätt?*/
    background-color: var(--shade-dark-8_color);
    border-radius: 4px;
    padding: 0.6rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.8rem;
}

.link a {
    color: var(--primary-text-dark_color);
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.3rem;
}
/*END - link*/

/*START - course-card*/
.course-card {
    max-width: 15.3rem;
    background-color: var(--foreground-layer-light_color);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.course-card__figure {
    min-height: 200px;
    background-color: var(--foreground-layer-neutral_color);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.course-card__info {
    padding: 1rem;
}

.course-card__info__list {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 2rem;
}

.list__option, .list__option--active {
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 1.1rem;
    background-color: var(--shade-dark-8_color);
    padding: 4px 0;
    margin-bottom: 1px;
}

.list__option--active {
    background-color: var(--shade-dark-80_color);
    color: var(--primary-text-light_color);
}
/*END - course-card*/

/*START - toggle-done*/

.toggle-done {
    display: flex;
    gap: 1rem;
}

.toggle-done p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
}
.toggle__area {
    width: 2.5rem;
    height: 1.3rem;
    background-color: var(--primary-text-dark_color);
    border-radius: 2.5rem;
    display: flex;
    justify-content: flex-end;
    padding: 2px;
}

.toggle__btn {
    width: 1rem;
    height: 1rem;
    background-color: var(--primary-text-light_color);
    border-radius: 50%;
}  
/*END - toggle-done*/

/*START - button*/
.button {
    max-width: 544px;
    background-color: var(--accent-red_color);
    color: var(--secondary-text-light_color);
    border: none;
    border-radius: 4px;
    padding: 1rem;
}
/*END - button*/

/*START - module-goal*/
.module-goal--long, .module-goal--medium, .module-goal--short {
    display: inline-block;
    background-color: var(--shade-dark-8_color);
    padding: 0.3rem 0.5rem;
    border-radius: 4px;
    color: var(--secondary-text-dark_color);
}
/*END - module-goal*/